body{
    margin: 0;
    padding: 0;
}
.big-container{
    margin-top: 30px;
    padding-top: 20px;
    margin-left: 20px;
    background-color: whitesmoke;
    width: 600px;
    height: 200px;

    
}
.container{
    background-color: whitesmoke;
    display: flex;
    /* long hand form */
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap; 
    /* shorthand form */
    justify-content: flex-start;
    padding-top: 20px;
    

}
.img{
 width: 220px;
 height: 200px;
 margin-right: 20px;
 margin-top: 10px;
}
.found{
 padding-bottom: 100px;
 margin-left: 20px;
}

.bold-text{
    /* display: flexbox; */
    width: 300px;
    font-size: 35px;
}
.page{
    /* display: flexbox; */
    padding-bottom: 20px;
    width: 200px;
}
.button{
    /* display: flexbox; */
}
